.history/
._*
.DS_Store
.firebase/
firebase-debug.log
/.history/
/node_modules/
/projects/site/node_modules/
/projects/tailwindcss-theme-variants/node_modules/
/projects/tests/node_modules/
pnpm-debug.log
