@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400&display=swap');

::selection {
	@apply bg-accent-faint-600;
	@apply transition-theme;
}

button, [role="button"] {
	cursor: unset;
}
